# Default ignored files
/shelf/
/.idea/workspace.xml

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log